@import "../../style/variables";

.service-detail {
  flex-direction: column;
  overflow: hidden;
//   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset, 0px -10px 20px rgba(0, 0, 0, 0.1) inset;

  p {
    margin: 20px 0;
  }
}

.list-item {
  &-enter-active {
    animation: slideIn 0.5s ease-out forwards;
}
&-exit-active {
    animation: slideOut 0.5s ease-out forwards;
  }
}
