@import "../../style/variables.scss";

.menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: white;
  height: 100vh;
  top: 0;
  
  nav {
    display: flex;
    position: relative;
    // top: $header-height;
    justify-content: flex-end;
    height: calc(100vh - $header-height);
  
    
  }

  & ul {
    width: 58%;
  }

  & li {
    position: relative;
    margin-top: 50px;
  }

  & li:hover &__link {
    transform: translateX(80px);
  }

  &__image {
    height: 80px;
    width: 80px;
    overflow: hidden;

    & img {
      height: 100%;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 80px;
    text-transform: uppercase;
    line-height: 80px;

    background-color: white;
    padding-left: 2em;
    transition: 0.5s ease;

  }

  &-enter-active {
    animation: openMenu 0.5s ease forwards;
  }
  
  &-exit-active {
    animation: closeMenu 0.5s ease forwards;
  }
}


@keyframes openMenu {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes closeMenu {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}