@import "../../../style/variables";

.showcase {

  &__header {
    @include space-between;
    height: $home-h1-font-size;

    & h2 {
      align-self: end;
    }

    &-link {
      align-self: center;
      overflow: hidden;

      & .link {
        font-weight: 600;
      }

      & span {
        margin-left: 30px;
      }
    }
  }

  & > .link {
    text-align: center;
    display: block;
  }
}
