@import "../../../style/variables";

.projects__list {
    display: flex;
    justify-content: end;
    padding: 70px 0 90px;

    & ul {
        width: 50%;

        &:hover > li {
            color: $color-passive;
        }
    }
    
    & li {
        @include li;
        border-bottom-color: $color-passive;
    }
}