$home-h1-font-size: 155px;
$h1-font-size: 6em;
$h2-font-size: 2.5em;
$h3-font-size: 1.5em;
$logo-size: 1.5em;
$p-bg: 1.3em;

$header-height: 50px;

$padding: 20px 40px;
$padding-top: 20px;
$padding-sides: 40px;

$marging-bg: 200px;
$marging-md: 100px;
$marging-sm: 50px;

$team-img: 390px;
$grid-gap: 15px;

$color-passive: #c9c9c9;

$transition-showcase: 0.35s ease-in-out;
$transition-short: 0.2s ease;

/* Using SCSS variables to store breakpoints */
$breakpoint-tablet: 768px;

///////////// MIXINS ///////////////

@mixin align-center {
  display: flex;
  align-items: center;
}
@mixin space-between {
  display: flex;
  justify-content: space-between;
}
@mixin justify-column-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@mixin li-border-bottom {
  display: flex;
  border-bottom: 2px solid $color-passive;
}

@mixin grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, image-width());
  gap: $grid-gap;
}

@mixin li {
  transition: $transition-short;
  display: block;
  
  & > * {
    @include li-border-bottom;
    @include space-between;
    display: flex;
    padding: 20px 0;

    &:hover {
      border-bottom-color: black ;

    }
  }

  &:hover {
    color: black !important;
  }
}

///////////// FUNCTIONS ///////////////

@function image-width($padding: 0px, $times: 4) {
  @return calc(((100vw - #{$padding-sides} - #{$grid-gap}* 3) / #{$times}) - #{$padding});
}

@function height-with-label() {
  @return calc(#{image-width()} + #{$h3-font-size} + 10px);
}

@function footer-height() {
  @return calc(#{$padding-top} * 2 + 30px);
}

@function main-height() {
  @return calc(100vh - #{$header-height} - #{footer-height()});
}
