@import '../../style/variables';

.team {
    @include grid-4;

    margin: $marging-bg 0;

    &__member {
        overflow: hidden;
        @include align-center;

        & img {
            width: 100%;
            filter: grayscale(1);
        }
    }
}