@import "../../../style/variables";

.about-us {
  display: flex;
  flex-direction: column;

  margin: $marging-bg 0;

  &__image {
    align-self: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 60px 0 40px;

    @include align-center;

    & img {
      width: 100%;
      filter: grayscale(1);
    }
  }

  &__content {
    width: 50%;
    align-self: flex-end;
    font-size: $p-bg;
    text-indent: 4rem;
  }

  &__link {
    align-self: flex-end;
  }
}
