@import '../../style/variables.scss';

.header {
    @include space-between;
    text-transform: uppercase;
    font-weight: 500;
    height: $header-height;
    padding: $padding;
    padding-bottom: 0;

    width: 100%;

    &__logo {
        font-size: $logo-size;
    }
}