@import '../../style/variables.scss';

.footer {
    @include space-between;
    text-transform: uppercase;
    font-weight: 500;
    padding: $padding;
    align-items: self-end;

    &__logo {
        font-size: $logo-size;
    }

    &__socials a:last-child {
        margin-left: 30px;
    }
}