@import "../../../style/variables";

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__item {
    width: 100%;
    overflow: hidden;
    position: relative;

    &:nth-child(3n-2) {
      grid-column: 1/3;
      height: 800px;

      & img {
        width: 100%;
      }
    }

    &:not(:nth-child(3n-2)) {
      height: 700px;

      & img {
        height: 100%;
      }
    }

    & img {
      transition: $transition-showcase;
      transition-timing-function: ease;
    }

    &:hover img {
      transform: scale(1.02);
    }

    &:nth-child(1) .grid__info {
      bottom: 0;
      left: -100%;
    }

    &:nth-child(1):hover .grid__info {
      left: 0%;
    }

    &:nth-child(2) .grid__info {
      height: 100%;
      width: auto;
      bottom: -100%;
      right: 0;
    }

    &:nth-child(2):hover .grid__info {
      bottom: 0%;
    }
    &:nth-child(3) .grid__info {
      top: 0;
      right: -100%;
    }

    &:nth-child(3):hover .grid__info {
      right: 0%;
    }
  }

  &__info {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;

    width: 100%;
    // height: 100%;
    padding: 40px;
  }
}

.info {
  font-weight: 400;
  transition: $transition-showcase;

  &__title {
    font-weight: 500;

    & span {
      font-size: initial;
      margin-left: 10px;
    }
  }

  &__sub {
    margin-top: 10px;
  }
}
