@import "../../../style/variables";

.about-us {
  display: flex;
  flex-direction: column;

  &__image {
    align-self: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: $marging-sm 0;

    @include align-center;

    & img {
      width: 100%;
      filter: grayscale(1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    // width: 50%;
      // align-self: flex-end;/
  }

  &__link {
    align-self: flex-end;
  }
}
