@import "../../style/variables";

.project-detail__swiper-sub {
  margin: $marging-sm 0 $marging-bg;

  swiper {
    &-container {
      height: image-width(20px);

      @media screen and (max-width: 1200px) and (min-width: 901px) {
        & {
            height: image-width(20px, 3);
        }
      }
      @media screen and (max-width: 900px) and (min-width: 640px) {
        & {
            height: image-width(20px, 2);
        }
      }
    }

    &-slide {
      overflow: hidden;

      & img {
        height: 100%;
      }
    }
  }

  .button {
    &-prev,
    &-next {
      width: 50px;
      height: 50px;
      z-index: 2;
    }
  }
}

