@import "../../style/variables";

.project-detail__swiper {
  position: relative;

  & swiper {
    &-container {
      height: 700px;
    }

    &-slide {
      background-color: grey;
      @include align-center;

      & img {
        width: 100%;
      }
    }
  }

  &:hover .button-prev,
  &:hover .button-next {
    opacity: 1;
  }
}

.swiper__buttons {
  & .button {
    &-prev,
    &-next {
      color: black;
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      -webkit-transition: $transition-short;
      -moz-transition: $transition-short;
      -o-transition: $transition-short;
      transition: $transition-short;
      opacity: 0;
    }

    &-prev::before,
    &-prev::after,
    &-next::before,
    &-next::after {
      content: "";
      display: block;
      background-color: white;
      width: 29px;
      height: 3px;

      position: absolute;
    }

    &-prev:disabled::before,
    &-prev:disabled::after,
    &-next:disabled::before,
    &-next:disabled::after,
    &-prev:disabled,
    &-next:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.3);
    }

    &-prev {
      left: 20px;

      &::before,
      &::after {
        right: 24%;
      }

      &::before {
        transform: rotate(40deg) translateY(11px);
      }
      &::after {
        transform: rotate(-40deg) translateY(-12px);
      }
    }
    &-next {
      right: 20px;

      &::before,
      &::after {
        left: 24%;
      }

      &::before {
        transform: rotate(40deg) translateY(-12px);
      }
      &::after {
        transform: rotate(-40deg) translateY(11px);
      }
    }
  }
}
