@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import "./style/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  color: black;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1 {
  font-size: $h1-font-size;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1em;
  text-transform: uppercase;
  margin: $marging-bg 0 0;
}

h2,
.heading {
  font-size: $h2-font-size;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: $h3-font-size;
  text-transform: uppercase;
}

main {
  padding: $padding;
  padding-top: 0;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.link {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  margin: $marging-bg 0 0;
}

.content {
  font-size: $p-bg;
  text-indent: 4rem;
  width: 50%;
  align-self: flex-end;
}

.fixed {
  position: fixed;
}

.hidden {
  content-visibility: hidden;
}

span.numbers {
  font-size: $home-h1-font-size;
  font-weight: 400;
}

.active {
  color: black;
}

li.active {
  border-color: black !important;
  color: black !important;

  & > * {
    border-color: black !important;
  }

  a {
    font-weight: 700;
  }
}

li.passive {
  color: $color-passive;
}


@keyframes openMenu {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes closeMenu {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fadeIn {
  0% {
    filter: brightness(1);
    background-color: initial;
    transform: translateY(0);
  }
  100% {
    filter: brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-5%);
  }
}

@keyframes fadeOut {
  0% {
    filter: brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(5%);
  }
  100% {
    filter: brightness(1);
    background-color: initial;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    max-height: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset, 0px -10px 20px rgba(0, 0, 0, 0.1) inset;
  }
  100% {
    max-height: 1000px;
    transition: all .5s ease;
    box-shadow: none;
    
  }
}
@keyframes slideOut {
  0% {
    max-height: 1000px;
    box-shadow: none;
    
  }
  100% {
    max-height: 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset, 0px -10px 20px rgba(0, 0, 0, 0.1) inset;
  }
}
