$black: #000000;
$white: #000000;
$gray: #000000;

$text-arrow-space: 20px;
$shaft-width: 50px;
$newshaft-width: 100px;
$shaft-thickness: 3px;
$arrow-head-width: 20px;
$arrow-head-thickness: $shaft-thickness;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.the-arrow {
  width: $shaft-width;
  transition: all 0.2s;

  &.-left {
    position: absolute;
    top: 55%;
    left: 0;

    .prev & {
      transform: scale(-1, 1);
      left: calc(100% - #{$shaft-width})
    }

    > .shaft {
      width: 0;
      background-color: $black;

      &:before,
      &:after {
        width: 0;
        background-color: $black;
      }

      &:before {
        transform: rotate(0);
      }

      &:after {
        transform: rotate(0);
      }
    }
  }

  &.-right {
    top: 3px;

    .prev &{
      transform: scale(-1, 1);
    }

    > .shaft {
      width: $shaft-width;
      transition-delay: 0.2s;

      &:before,
      &:after {
        width: $arrow-head-width;
        transition-delay: 0.3s;
        transition: all 0.5s;
      }

      &:before {
        transform: rotate(40deg);
      }

      &:after {
        transform: rotate(-40deg);
      }
    }
  }

  > .shaft {
    background-color: $black;
    display: block;
    height: $shaft-thickness;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;

    &:before,
    &:after {
      background-color: $black;
      content: "";
      display: block;
      height: $arrow-head-thickness;
      position: absolute;
      top: 0;
      right: 0px;
      transition: all 0.2s;
      transition-delay: 0;

    }

    &:before {
      transform-origin: top right;
    }
    
    &:after {
      transform-origin: bottom right;
    }
  }
}

// Animated Arrow Button

.animated-arrow {
  display: inline-block;
  color: $black;
  font-size: 2.3em;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;

  &:hover {
    color: $gray;

    > .the-arrow.-left {
      > .shaft {
        width: $newshaft-width;
        transition-delay: 0.1s;
        background-color: $gray;

        &:before,
        &:after {
          width: $arrow-head-width;
          transition-delay: 0.1s;
          background-color: $gray;
        }

        &:before {
          transform: rotate(40deg);
        }

        &:after {
          transform: rotate(-40deg);
        }
      }
    }

    > .main {
      transform: translateX($shaft-width + $text-arrow-space);
      transform: translateX($newshaft-width + $text-arrow-space);

      .prev & {
        transform: translateX(-($shaft-width + $text-arrow-space));
        transform: translateX(-($newshaft-width + $text-arrow-space));
      }

      > .the-arrow.-right {
        > .shaft {
          width: 0;
          transform: translateX(200%);
          transition-delay: 0;

          &:before,
          &:after {
            width: 0;
            transition-delay: 0;
            transition: all 0.1s;
          }

          &:before {
            transform: rotate(0);
          }

          &:after {
            transform: rotate(0);
          }
        }
      }
    }
  }

  > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;

    > .text {
      margin: 0 $text-arrow-space 0 0;
      line-height: 1;

      .prev & {
        margin: 0 0 0 $text-arrow-space;
      }
    }

    > .the-arrow {
      position: relative;
    }
  }
}
